link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
link(href='/libs/metisMenu/dist/metisMenu.min.css',rel='stylesheet')
link(href='/css/admin.css',rel='stylesheet')
//- bootstrap
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
//- list menu
script(src='/libs/metisMenu/dist/metisMenu.min.js')
script(src='/js/admin.js')