html{
	font-size: 100px;
}
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: arial,sans-serif;
}
body *{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/*回到顶部*/
.go-top-trigger{
	width: 38px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	opacity: 0.9;
	z-index: 10;
	right: 10px;
	bottom: 190px;
	position: fixed;
	background: #7f7f7f url(../img/go-top.png) no-repeat center center;
	background-size: 38px 40px;
}
.feedback-trigger{
	width: 38px;
	height: 40px;
	background: url(../img/feedback-trigger.png) no-repeat center center;
	background-size: 38px 40px;
	color: #fff;
	cursor: pointer;
	opacity: 0.9;
	position: fixed;
	right: 10px;
	bottom: 140px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	z-index: 10;
}
/*head*/
.nav-header-container{
	width: 100%;
	height: 48px;
	background: #3e98f0 url(../img/bg-news-logo.png) no-repeat;
	background-position: center 10px;
	background-size: 65px auto;
}
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
.nav-header-container .baidu-icon{
	background-position: center 6px;
	margin-left: 8px; 
}
.nav-header-container a{
	width: 34px;
	height: 100%;
	background: url(../img/icon-bg.png) no-repeat;
	background-size: 40px 500px;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.nav-header-container .profile-icon{
	background-position: center -461px;
	margin-left: 10px;
}
.nav-header-container .subscribe-icon {
    background-position: center -105px;
    margin-right: 8px;
}
.nav-header-container .search-icon {
    background-position: center -160px;
    margin-right: 10px;
}
body hr{
	height: 0px;
	border-top: 0;
	color: #5dabf0;
	border-bottom-color: #5dabf0;
}
/*title*/
#index_view_navigator{
	background-color: #3e98f0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow: hidden;
}
#index_view_navigator ul{
	display: block;
	list-style-type: none;
}
#index_view_navigator ul li {
	position: relative;
	text-align: center;
	float: left;
	font-size: 0.16rem;
	line-height: 0.16rem;
}
#index_view_navigator ul li b{
	position: absolute;
	top: 13px;
	left: 0;
	height: 12px;
	width: 1px;
	display: block;
	overflow-y: hidden;
	background-color: #5dabf0;
}
#index_view_navigator ul a{
	color: #fff;
	display: inline-block;
	padding: 12px 0;
}
#index_view_navigator ul .selected a{
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
}
#index_view_navigator .clearfix .more{
	background-image: url(../img/nav-down.png);
	background-position: center right;
}
#index_view_navigator .clearfix .less{
	left: -15px;
	padding-right: 13px;
	background-image: url(../img/nav-up.png);
	background-position: 54px center;
}
#index_view_navigator ul .more,
#index_view_navigator ul .less{
	background-repeat: no-repeat;
	background-size: 10px;
	position: absolute;
	left: 7px;
	bottom: 0;
	top: 0;
	right: 9px;
	overflow-y: hidden;
	color: #fff;
	text-align: center;
	height: 16px;
	padding-right: 10px;
}
.two{
	display: none;
}
/*body*/
.Carousel{
	position: relative;
	margin-bottom: 42px;
}
.swiper{
	position: relative;
	width: 1900px;
}
.carousel-content{
	margin: 15px 17px 0;
	height: auto;
	margin-bottom: -28px;
}
.carousel-content .carousel-item {
    width: 380px;
    display: block;
    position: relative;
    float: left;
}
.carousel-content .carousel-item img{
    width: 100%;
    height: auto;
    min-height: 187px;
    vertical-align: middle;
    display: block;
}
.optons-text{
	padding: 0 10px;
	text-align: left;
	height: 28px;
	font-size: 0.16rem;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
	overflow-y: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}
.optons-text span {
    display: inline-block;
    text-align: left;
    height: 28px;
    line-height: 28px;
    width: 100%;
}
.carousel-nav{
	position: absolute;
	text-align: center;
	bottom: 10px;
	right: 18px;
	font-size: 0;
}
.carousel-nav div{
	display: inline-block;
	height: 6.7px;
	width: 6.7px;
	margin-right: 6.7px;
	border-radius: 6px;
	background-color: #fff;
	opacity: 0.36;
}
.carousel-nav .on{
	background-color: #3e98f0;
}
/*热点*/
.hot-scroll-news-container{
	margin: 14px 17px 0;
	padding-top: 13px;
	border-bottom: 1px solid #f6f6f6;
}
.hot-scroll-content{
	height: 18px;
	overflow-y: hidden;
}
.hot-news-icon{
	width: 36px;
	height: 18px;
	background-color: #e02f2f;
	color: #fff;
	text-align: center;
	font-size: .14rem;
	line-height: 18px;
}
.hot-news-content{
	width: 85%;
	list-style-type: none;
}
.hot-news-item{
	margin-left: 8px;
	line-height: 18px;
	font-size: .18rem;
	height: 18px;
}
.hot-news-item a{
	color: #545454;
}
/*content*/
.index-list-item{
	display: block;
	position: relative;
	border-bottom: 1px solid #f6f6f6;
	overflow: hidden;
	padding: 8.5px 0 10px;
	margin: 0 17px;
}
.index-list-main.showleft{
	display: -webkit-box;
	-webkit-box-align: center;
    padding-bottom: 3px;
    padding-top: 5.5px;
}
.index-list-image{
	font-size: 0;
	vertical-align: middle;
	width: 33.33%;
	text-align: center;
	overflow: hidden;
	float: left;
	margin-left: 0;
	background-color: #f4f7f9;
	position: relative;
}
.ivideoplay{
	display: none;
    background: url(../img/videoplay.png) no-repeat;
    background-size: 28px;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -14px 0 0 -14px;
}
.index-list-image img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}
.index-list-main-text{
	width: 66.66%;
	padding-left: 14px;
	flex: 2;
	box-sizing: border-box;
	overflow: hidden;
}
.index-list-main-title{
	font-size: .18rem;
	line-height: .26rem;
	color: #333;
	max-height: .56rem;
	overflow:hidden;
}
.index-list-bottom{
	margin-top: 4px;
    margin-bottom: 1px;
}
.index-list-main-time{
	line-height: 17px;
	height: 17px;
	text-align: left;
	font-size: 12px;
	color: #b8bac0;
    font-weight: 400;
}
.tip-time{
	display: inline-block;
	color: #999;
	font-size: .13rem;
	margin-right: 5px;
	font-weight: 400;
}
.tip-hot{
	display: inline;
	text-align: center;
	font-size: .1rem;
	font-weight: 400;
	padding: 0 1px;
	color: #999;
	border-radius: 2px;
	max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tip-fillred{
    border: 1px solid #efb9b9;
    color: #ef3f41;
}